<div>
  <h3>Leave a comment:</h3>
  <%= form_with model: @comment, url: comments_create_path(@post.author.id, @post.id) do |f| %>
    <%= f.text_area :text %><br>
    <%= f.submit "Post Comment"%>
  <% end %>
</div>